<md-dialog aria-label="Add Event">
    <md-toolbar style="background-color: #0568ac;">
      <div class="md-toolbar-tools">
        <h2>Add Floor Task</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:900px;" >
      <form name = "taskForm">
        <md-input-container class="md-block">
          <label>Task Name</label>
          <input type="text" md-maxlength="30" required name="name" ng-model="addTask.name">
          <div ng-messages="taskForm.name.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container class="md-block">
          <label>Type</label>
          <md-select ng-model="addTask.type" placeholder="Select">
            <md-option ng-value="types" ng-repeat="types in $root.typeList">{{types}}</md-option>
          </md-select>
        </md-input-container>
        <br>
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="addTask.description" required name="description" md-maxlength="150" rows="5"></textarea> 
          <div ng-messages="taskForm.description.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container flex="50">
          <label>UID</label>
          <input ng-model="addTask.user" name="user" required>
          <div ng-messages="taskForm.user.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container flex="50">
          <label>New PIN</label>
          <input ng-model="addTask.pin" name="pin" required>
          <div ng-messages="taskForm.pin.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button novalidate ng-disabled="taskForm.$invalid" ng-click="save()" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
</md-dialog>