<md-dialog aria-label="Edit Task">
    <md-toolbar style="background-color: lightblue;">
      <div class="md-toolbar-tools">
        <h2>Edit Task on {{building}} : {{floor}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:900px;" >
        <md-input-container class="md-block">
          <label>Task Name</label>
          <input type="text" md-maxlength="30" required name="name" ng-model="editTask.name">
          <div ng-messages="editTask.name.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container class="md-block">
          <label>Type</label>
          <md-select ng-model="editTask.type" placeholder="Select">
            <md-option ng-value="types" ng-repeat="types in $root.typeList">{{types}}</md-option>
          </md-select>
        </md-input-container>
        <br>
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea row="2" ng-model="editTask.description"></textarea>
          <div ng-messages="editTask.description.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <br>
        <form ng-show="!$root.admin" name="pinRequirement">
          <md-input-container>
            <label>Re-enter Task PIN</label>
            <input ng-model="editTask.pin" required name="pin">
            <div ng-messages="pinRequirement.pin.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button novalidate ng-disabled="pinRequirement.$invalid && !$root.admin" ng-click="edit(editTask.pin)" style="margin-right:20px;">
        Update
      </md-button>
    </md-dialog-actions>
</md-dialog>