<md-content style="background-color: #0574ac;">
	<md-button class="md-raised createButton" ng-click="addTask(key, values.pin, $event, false)">Create Task</md-button>
	<md-card class="tasks" ng-repeat="(key, values) in tasksObject">
		<md-card-title>
			<span class="md-headline event-title">{{values.name}} </span>
		</md-card-title>
		<md-card-content>
			<div layout="row">
				<div layout="column" layout-align="center left" style="width:300px;">
					<p>{{values.type}}</p>
					<p>{{values.description}}</p>
					<p class="md-caption"> {{tasks.GetTime(values.submitted)}} </p>
				</div>
				<div layout="column" layout-align="center right" style="width:100px;">
					<div layout="row" layout-align="center right">
						<i class="icon-misc-pen" ng-click="editTask(key, values.pin, $event, values)"></i>
						<i class="icon-controls-x-closePRIMARY" ng-click="deleteTask(key, values.pin, $event, false)"></i>
					</div>
				</div>
			</div>
		</md-card-content>
	</md-card>
</md-content>
