<div layout="row" flex layout-align="center" ng-init="visibleDiv='concourse'">  
  <md-button ng-click="visibleDiv='concourse'" aria-label="Concourse">Concourse</md-button>
  <md-button ng-click="visibleDiv='foodtrucks'" aria-label="Food Truck">Food Truck</md-button>
</div>
<section id="menu" layout="column" layout-gt-xs="row">
  <div ng-show="visibleDiv == 'concourse'" flex>
    <md-card>
      <md-card-content>
          <p>Breakfast Tacos<span class="menuprice">$4.50</span></p>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
          <p>Pumpkin Pies<span class="menuprice">$3.50</span></p>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
          <p>Burgers<span class="menuprice">$6.50</span></p>
      </md-card-content>
    </md-card>
  </div>
  <div ng-show="visibleDiv == 'foodtrucks'" flex>
    <md-card>
      <md-card-content>
          <p>Quesadillas<span class="menuprice">$5.50</span></p>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
          <p>Tacos<span class="menuprice">$3.99</span></p>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
          <p>Burgers<span class="menuprice">$8.99</span></p>
      </md-card-content>
    </md-card>
  </div>
</section>