<div layout="column" layout-fill>
<div class="flexbox-parent">
	<div layout="row" layout-align="center center" style="height: 850px;">
		<div id="main-icons">
			<button ui-sref="menu"><i class="fa fa-cutlery fa-5x circle-icon"></i><br /><span>Menu</span></button>
			<button ui-sref="tasks"><i class="fa fa-wrench fa-5x circle-icon"></i><br /><span>Tasks</span></button>
		    <button ui-sref="eventspage"><i class="fa fa-calendar fa-5x circle-icon"></i><br /><span>Events</span></button>
		</div>
	</div>
</div>
</div>