<div class="flexbox-parent">
	<h1 layout layout-align="center">{{floorhome.buildingName}} - {{floorhome.floorName}}</h1>
	<div id="floornav" layout="row" layout-align="center">
		<span class="nav-item" ng-class="{is_current: $state.current.controllerAs == 'eventspage'}" ui-sref='.eventspage'><i class="icon-misc-calendar"></i>Events</span>
		<span class="nav-item" ng-class="{is_current: $state.current.controllerAs == 'menus'}" ui-sref='.menus'><i class="icon-retail-restaurant"></i>Menus</span>
		<span class="nav-item" ng-class="{is_current: $state.current.controllerAs == 'tasks'}" ui-sref='.tasks'><i class="icon-misc-tools"></i>Tasks</span>
		<span class="nav-item" ng-class="{is_current: $state.current.controllerAs == 'data'}" ui-sref='.data'><i class="icon-datanetwork-datavis"></i>Data</span>
	</div>
	<div layout="row" layout-align="center center" flex>
		<ui-view></ui-view>
	</div>
</div>