<div layout="column" flex id="content">
  <div class="flexbox-parent">
      <div layout="row" id="buildings" layout-align="center center" layout-wrap>
            <md-card class='building-card' ng-repeat="(key, values) in building.buildings" ng-click="building.setBuilding(key)">

            <div class="buildings-icons">
              <i class="icon-building-midsizedbuilding"></i>
            </div>

            <md-card-title>
              <md-card-title-text>
                <span class="md-headline building-title">{{values}}</span>
              </md-card-title-text>
            </md-card-title>
          </md-card>
      </div>
  </div>
</div>