<!-- <body layout="column">
    <div layout="row" layout-align='center' flex style="height:850px;">
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-list>
                <md-list-item><a ui-sref="home">Home</a></md-list-item>
            </md-list>
        </md-sidenav>
        <div layout="column" flex id="content">
	        <div class="flexbox-parent">
	            <div layout="row" layout-align="center center" style="height: 850px;">
	                <div class="floorplan">
                        <a class="room" id="floor1">
                            1st Floor
                        </a>
                        <a class="room" id="floor2">
                            2nd Floor
                        </a>
                    </div>
	            </div>
	        </div>
        </div>

        <md-card>
          <md-button ng-repeat='f in floor.floors'>
            <p>
              {{f.displayName}}
            </p>
          </md-button>
        </md-card>
    </div>
</body>
 -->
 Floor view