<div layout="column" flex id="content">
  <div class="flexbox-parent">
      <h1 layout layout-align="center">{{floor.buildingName}}</h1>
      <div layout="row" layout-align="center" layout-wrap>
        <div ng-repeat="(key, values) in floor.floors" ng-click="floor.setFloor(key)"> 
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{values.displayName}}</span>
              </md-card-title>
            </md-card>
        </div>
      </div>
  </div>
</div>
