/* styles in src/style directory are applied to the whole page */

html, body, #content {
	background-color: #0574ac;
  font-family: 'Lato', sans-serif;
}

ui-view {
  background-color: #fff;
}

.md-title img {
  width: 14rem;
}

#floornav {
	margin-bottom: 10px;
}

#buildings {
	height: calc(100vh + 200px);
}

#main-icons {
  	text-align: center;
  	font-size: 70px;
}

#main-icons i {
  	color: #44c8f5;
  	margin: 5px;
    font-style: normal;
}

#main-icons p {
    font-size: 20px;
}

#main-icons button {
    background: transparent;
    outline: 0;
    border: 0;
}

#login-button {
  font-size: 2em;
  color: white;
}

.circle-icon {
    background: #f2f2f2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
    cursor: pointer;
}

.md-toolbar-tools {
	cursor: pointer;
}

/* Floors */

md-card md-card-title {
    padding: 16px 16px 16px !important;
    text-align: center;
}

md-card, md-button {
  cursor: pointer;
	width: 250px;
  background-color: #f2f2f2;
}

md-card:hover, md-button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#events {
  background-color: #0574ac;
}

#events md-card, #events md-button {
  cursor: pointer;
  width: inherit;
  background-color: #f2f2f2;
}

.md-card-image {
  background: #0574ac;
}

/* Task Page */

md-card.tasks {
  width: auto;
}

button.md-raised.createButton {
  background: lightblue;
  width: 400px;
}

.building-title {
	color: #0574ac;
	text-align: center;
}

/* Buildings */

.buildings-icons {
  text-align: center;
}

.icon-building-midsizedbuilding {
  font-size: 100px;
  font-style: normal;
  color: #0574ac;
}

/* Calendar */

.fixed-calendar {
  width: 340px;
  height: 340px;
  display: block;
}

.fixed-calendar .md-calendar-scroll-mask {
  width: 340px !important;
}

.fixed-calendar .md-virtual-repeat-scroller {
  width: 340px !important;
  height: 308px;
  overflow: hidden !important;
}

md-calendar {
	margin-top: 7px;
	margin-bottom: 7px;
}

/* Menu */

.nav-item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 22px;
  padding: 10px 0;
  color: #FFF;
  position: relative;
  -webkit-transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nav-item:after {
  content: "";
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  -webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #FFF;
}
.nav-item.is_current {
  border-bottom: 3px solid #fff;
}

.nav-item:hover {
  cursor: pointer;
  border-bottom: 3px solid #fff;
}

.nav-item i {
  padding-right: 5px;
  font-style: normal;
  vertical-align: top;
}