/* styles in src/style directory are applied to the whole page */

html, body, #content {
	background-color: #0574ac;
}

ui-view {
  background-color: #fff;
}

.md-title img {
  width: 14rem;
}

#main-icons {
  	text-align: center;
  	font-size: 70px;
}

#main-icons i {
  	color: #44c8f5;
  	margin: 5px;
    font-style: normal;
}

#main-icons p {
    font-size: 20px;
}

#main-icons button {
    background: transparent;
    outline: 0;
    border: 0;
}

.circle-icon {
    background: #f2f2f2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
    cursor: pointer;
}

.md-toolbar-tools {
	cursor: pointer;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: rgb(252,179,20);
    background: rgb(255,179,20);
}

md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color: #000;
}

md-list {
    display: inline-block;
}

/* Floors */

md-card md-card-title {
    padding: 16px 16px 16px !important;
    text-align: center;
}

md-card, md-button {
  cursor: pointer;
	width: 250px;
  background-color: #f2f2f2;
}

#events {
  background-color: #0574ac;
}

#events md-card, #events md-button {
  cursor: pointer;
  width: inherit;
  background-color: #f2f2f2;
}

md-card-image {
  background: #0574ac;
}

.building-title {
	color: #0574ac;
	text-align: center;
}

/* Buildings */

.buildings {
  text-align: center;
}

.icon-building-midsizedbuilding {
  font-size: 100px;
  font-style: normal;
  color: #0574ac;
}

/* Calendar */

.fixed-calendar {
  width: 340px;
  height: 340px;
  display: block;
}

.fixed-calendar .md-calendar-scroll-mask {
  width: 340px !important;
}

.fixed-calendar .md-virtual-repeat-scroller {
  width: 340px !important;
  height: 308px;
  overflow: hidden !important;
}