/* styles in src/style directory are applied to the whole page */

html, body, #content {
	background-color: #0574ac;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 300;
  color: white;
  font-size: 2em;
}
ui-view {
  background-color: #fff;
}

md-dialog-content {
  overflow-x: hidden !important;
}

.md-title img {
  width: 14rem;
}

#floornav {
	margin-bottom: 10px;
	align-items: center;
}

#buildings {
	height: calc(100vh + 200px);
}

/* Floors */

md-card md-card-title {
    padding: 16px 16px 16px !important;
    text-align: center;
}

md-card, md-button {
  cursor: pointer;
	width: 250px;
  background-color: #f2f2f2;
}

md-card:hover, md-button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#events {
  background-color: #0574ac;
}

#events md-card, #events md-button {
  cursor: pointer;
  width: inherit;
  background-color: #f2f2f2;
}

.md-card-image {
  background: #0574ac;
}

/* Task Page */

md-card.tasks {
  width: 400px;
}

button.md-raised.createButton {
  background: lightblue;
  width: 400px;
}

.building-title {
	color: #0574ac;
	text-align: center;
}

/* Buildings */

.buildings-icons {
  text-align: center;
}

.icon-building-midsizedbuilding {
  font-size: 100px;
  font-style: normal;
  color: #0574ac;
}

/* Calendar */

.fixed-calendar {
  width: 340px;
  height: 340px;
  display: block;
}

.fixed-calendar .md-calendar-scroll-mask {
  width: 340px !important;
}

.fixed-calendar .md-virtual-repeat-scroller {
  width: 340px !important;
  height: 308px;
  overflow: hidden !important;
}

md-calendar {
	margin-top: 7px;
	margin-bottom: 7px;
}

/* Menu */

.nav-item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 22px;
  padding: 10px 0;
  color: #FFF;
  position: relative;
  -webkit-transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-item:after {
  content: "";
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  -webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #FFF;
}

.nav-item.is_current {
  border-bottom: 3px solid #fff;
}

.nav-item:hover {
  cursor: pointer;
  border-bottom: 3px solid #fff;
}

.nav-item i {
  padding-right: 5px;
  font-style: normal;
}

.nav-item i:before {
	position: relative;
    top: -3px;
}

.tasks i {
	font-style: normal;
}

.icon-controls-x-closePRIMARY {
	color: #b30a3c;
	font-size: 2em;
}

.icon-misc-pen {
	color: lightblue;
	font-size: 2em;
}

#main-nav .md-button {
  margin-top: 25px;
  color: #fff;
}

#main-nav i {
  margin-top: 20px;
	font-style: normal;
	font-size: 45px;
	color: #fff;
  cursor: pointer;
}

.md-title {
  cursor: pointer;
}

/* Events */

.no-events {
  color: white;
  font-size: 1.4em;
  text-align: center;
  margin-left: 7px;
}

#addevent-container {
  background-color: lightblue !important;
}

#eventdate {
  margin-left: 7px;
}

#addevent-icon {
  background-color: #f2f2f2;
}

/* Data */

#data {
	padding: 0 20px 20px 20px;
}

#data h2 {
	margin-left: 7px;
	text-align: center;
}

.bar:not(:last-child) {
	margin-right: 20px;
	margin-bottom: 5px;
}

#bar1, #bar2, #bar3 {
  display: table-cell;
  border: solid 1px #0574ac;
  height: 97px;
	vertical-align: bottom;
}
#bar1 > div, #bar2 > div, #bar3 > div {
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  background-color: lightblue;
  margin-left: 2px;
}
#bar1 > div:first-child, #bar2 > div:first-child, #bar3 > div:first-child  {
  margin-left: 0;
}
.menuprice {
  float: right;
}
.activebtn {
  background-color: lightblue !important;
}
