<md-dialog aria-label="Add Event">
    <md-toolbar style="background-color: lightblue;">
      <div class="md-toolbar-tools">
        <h2>Add Event to {{building}} : {{floor}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  <form name = "eventForm">

    <md-dialog-content style="max-width:800px;max-height:900px;" >
        <md-input-container class="md-block" >
          <label>Event Name</label>
          <input type="text" md-maxlength="30" required name="name" ng-model="addEvent.name">
          <div ng-messages="eventForm.name.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container>
          <md-datepicker required name="eventDate" ng-model="addEvent.eventDate"
                         md-placeholder="Event Date"></md-datepicker>
          <div ng-messages="eventForm.eventDate.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container flex="50">
          <label>Start Time</label>
          <input ng-model="addEvent.startTime" required name="startTime" placeholder="HH:mm">
          <div ng-messages="eventForm.startTime.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container flex="50">
          <label>End Time</label>
          <input ng-model="addEvent.endTime" required name="endTime"placeholder="HH:mm">
          <div ng-messages="eventForm.endTime.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container class="md-block" >
          <label>Description</label>
          <textarea ng-model="addEvent.description" required name="description"md-maxlength="150" rows="5" md-maxlength="150" rows="2"></textarea> 
          <div ng-messages="eventForm.description.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container class="md-block" >
          <label>Location</label>
          <input ng-model="addEvent.location" required name="location">
          <div ng-messages="eventForm.location.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container flex="50">
          <label>UID</label>
          <input ng-model="addEvent.user" required name= "user">
          <div ng-messages="eventForm.user.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container flex="50">
          <label>PIN</label>
          <input ng-model="addEvent.pin" required name="pin">
          <div ng-messages="eventForm.pin.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button novalidate ng-disabled="eventForm.$invalid " ng-click="save()" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>
