<md-dialog aria-label="Delete Event">
    <md-toolbar style="background-color: lightblue;">
      <div class="md-toolbar-tools">
        <h2>Delete Event on {{building}} : {{floor}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:900px;" >
        <md-input-container>
          <label>Re-enter Task PIN</label>
          <input ng-model="deleteEvent.pin">
          <div ng-messages="deleteEvent.pin.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button ng-click="delete(deleteEvent.pin)" style="margin-right:20px;">
        Delete
      </md-button>
    </md-dialog-actions>
</md-dialog>