<md-dialog aria-label="edit Event">
  <form ng-cloak>
    <md-toolbar style="background-color: lightblue;">
      <div class="md-toolbar-tools">
        <h2>Edit Event on {{building}} : {{floor}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
        <md-input-container>
          <label>Event Name</label>
          <input type="text" md-maxlength="30" required name="name" ng-model="editEvent.name">
          <div ng-messages="editEvent.name.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container>
          <md-datepicker required name="eventDate" ng-model="editEvent.eventDate"
                         md-placeholder="Event Date"></md-datepicker>
          <div ng-messages="editEvent.eventDate.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container flex="50">
          <label>Start Time</label>
          <input ng-model="editEvent.startTime">
          <div ng-messages="editEvent.startTime.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container flex="50">
          <label>End Time</label>
          <input ng-model="editEvent.endTime">
          <div ng-messages="editEvent.endTime.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container class="md-block">
          <label>Description</label>
          <input ng-model="editEvent.description">
          <div ng-messages="editEvent.description.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container class="md-block">
          <label>Location</label>
          <input ng-model="editEvent.location">
          <div ng-messages="editEvent.location.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container >
          <label>Re-enter PIN</label>
          <input ng-model="editEvent.pin">
          <div ng-messages="editEvent.pin.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button ng-click="edit(editEvent.pin)" style="margin-right:20px;">
        Update
      </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>