<section id="events" layout="column" layout-gt-xs="row">
  <md-calendar class="fixed-calendar" ng-model="eventspage.selectedDate" md-min-date="eventspage.minDate" md-max-date="eventspage.maxDate"></md-calendar>
  <div flex>
    <md-card id="addevent-container" layout="row" layout-align="end center">
        <div id="eventdate" layout="row" layout-align="start center" flex>
          Date: {{eventspage.formatSelectedDateDisplay(eventspage.selectedDate)}}
        </div>
      <md-button class="md-icon-button md-primary" aria-label="Add" ng-click="addEvent($event)">
        <md-icon id="addevent-icon" md-svg-icon="/img/addIcon.svg"></md-icon>
      </md-button>
    </md-card>

    <md-card class="events" ng-repeat="(key, values) in events | FirebaseFilter: eventspage.selectedDate as results">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline event-title">{{values.name}} </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout='row'>
          <div layout='column' layout-align='center left' style='width: 300px;'>
            <p>{{values.description}}</p>
            <p>{{values.location}} : {{values.startTime}}-{{values.endTime}}</p>
            <p class=md-caption>{{eventspage.convertToMomentSince(values.eventDate, values.startTime)}}</p>
          </div>
          <div layout='column' layout-align='center right' style='width: 100px;'>
            <div layout='row' layout-align='center right'>
              <i class="icon-misc-pen" ng-click="editEvent(values.keyid, values.pin, $event, values)" layout-align='center right'></i>
              <i class="icon-controls-x-closePRIMARY" ng-click="deleteEvent(values.keyid, values.pin, $event, false)" layout-align='center right'></i>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
    <div ng-if="results.length === 0" class="no-events"><strong>Sorry, no results found for today</strong></div>
  </div>

</section>
