<md-card ng-repeat="(key, values) in eventspage.events">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline event-title">{{values.name}} </span>       
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
      <p>{{values.eventDate}}</p>
      <p>{{values.description}}</p>
      <p>{{values.location}} : {{values.startTime}}-{{values.endTime}}</p>
  </md-card-content>
</md-card>
<md-calendar class="fixed-calendar" ng-model="myDate" md-min-date="minDate" md-max-date="maxDate"></md-calendar>
<md-button class="md-icon-button md-primary" aria-label="Add" ng-click="addEvent($event)">
  <md-icon md-svg-icon="/img/addIcon.svg"></md-icon>
</md-button>