<body layout="column">
    <div layout="row" flex style="height:850px;">
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-list>
                <md-list-item><a ui-sref="home">Home</a></md-list-item>
            </md-list>
        </md-sidenav>
        <div layout="column" flex id="content">
	        <div class="flexbox-parent">
	            <div layout="row" layout-align="center center" style="height: 850px;">
	                This is Tasks
	            </div>
	        </div>
        </div>
    </div>
</body>